@model WarehouseCore.MVC.Models.Job
@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "Job", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label class="control-label">Số PO:</label>
        @Html.DropDownListFor(model => model.POsId, new SelectList(ViewBag.PoList, "Id", "POSO"), "--Chọn số PO--", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Cập nhật" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    </div>
}