@model WarehouseCore.MVC.Models.User
@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "User", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label class="control-label">Tên đầy đủ</label>
        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <label class="control-label">Tên tài khoản</label>
        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <label class="control-label">Chức danh</label>
        @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.RoleList, "Id","RoleName"), "--Chọn Chức danh--", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Cập nhật" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    </div>
}